<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/life-adapt-ios.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>LifeAdapt.life-adapt-ios</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: vpasquier@fastmail.com (JJH53M5T5S)</string>
		<key>Team</key>
		<string>2MDFY8PK3W</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2024-03-23T06:01:49Z</date>
	<key>Name</key>
	<string>life-adapt-ios</string>
	<key>SchemeName</key>
	<string>life-adapt-ios</string>
</dict>
</plist>
